.project {
  position: relative;
  height: 400px;
  width: 80vw;
  margin: 1rem 4%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all linear 0.1s;
}

.description {
  position: relative;
  height: 400px;
  width: 600px;
}

.title {
  position: relative;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  color: rgb(1, 25, 48);
  transition: all linear 0.1s;
}

.text {
  position: relative;
  font-size: 1em;
  color: white;
  border-radius: 20px;
  background: rgb(1, 25, 48);
  padding: 0% 5%;
  padding: 2rem 2.2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.text:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.svg {
  position: relative;
  /* top:-6rem; */
  height: 300px;
  width: 300px;
  bottom: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}


.bar {
  position: relative;
  width: 10%;
  height: 60%;
  border-radius:4px 4px 0px 0px;
  background: green;
  transform-origin: 50% 100%;
  transition: all linear 0.3s;
}


.logo-wrapper {
  position: relative;
  height: 80px;
  left: -40%;
  top: 30px;
  display: flex;
  z-index: 500;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  height: 80px;
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #0ada29, #075c14);
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0px 10px;
}

.logo-bar {
  position: relative;
  background-image: linear-gradient(to bottom, white, rgb(190, 184, 184));
  width: 5px;
  height: 40px;
}

.tech-used {
  color: #05310c;
}

.technologies {
  position: absolute;
  left: 50px;
  bottom: 5px;
}

@media screen and (max-width: 1100px) {
  .svg {
    bottom: 0rem;
  }
}
