.main {
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: calc(100vw - 11px); */
  width:100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
  transition: all linear 0.2s;
  background:white;
  padding-top:50px;
  margin-bottom:0px;
}
