.quote {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
    color: black;
    padding: 20px 10% 0px 10%;
}

.inside-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    /* background: #292929; */
}

.img {
    position: relative;
    width: auto;
    height: 550px;
    border-radius:10px;
    border:1px solid rgb(197, 197, 197);
}

.img:hover{
    border:1px solid rgb(194, 146, 250);
}