.close {
  position: absolute;
  right: 10px;
  top: 10px;
  fill: white;
  height: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: all linear 0.1s;
}

.close:hover {
  transform: scale(1.3);
}
