@import url("https://fonts.googleapis.com/css2?family=Genos:wght@600&family=Varela+Round&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
:root {
  --main: white;
  --secondary: white;
  --secondary: rgb(52, 33, 146);
  --secondary-darker: rgb(12, 2, 47);
  --secondary-lighter: rgb(191, 198, 202);
  --secondary-half-lighter: rgb(150, 169, 182);
}

:root {
  --main-back: rgb(30, 30, 30);
  --secondary-back: rgb(51, 51, 51);
  --primary-back: rgb(43, 41, 41);
  --hover-back: rgb(68, 67, 67);
  --primary-color: rgb(173, 171, 171);
  --secondary-color: rgb(219, 228, 232);
  --highlight-color: rgb(17, 98, 236);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Varela Round";
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

* ::-webkit-scrollbar {
  -webkit-appearance: none;
}
* ::-webkit-scrollbar:vertical {
  width: 11px;
}
* ::-webkit-scrollbar:horizontal {
  -webkit-appearance: none;
  height: 0px;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(1, 25, 48);
}

* ::-webkit-scrollbar-track {
  /* background-color: #fff; */
  background: transparent;
  border-radius: 8px;
}
