.wrapper {
  position: relative;
  display: flex;
  /* width: 150px; */
}

.dbs-title {
  position: relative;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dbs {
  position: relative;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dbs:hover {
  background: lightgrey;
}

.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
